[submodule "BasicTools"]
	path = BasicTools
	url = https://github.com/bingo-todd/BasicTools.git
[submodule "Gammatone-filters"]
	path = Gammatone-filters
	url = https://github.com/bingo-todd/Gammatone-filters.git
[submodule "data/external/RealRoomBRIRs"]
	path = data/external/RealRoomBRIRs
	url = https://github.com/IoSR-Surrey/RealRoomBRIRs.git
